# **Create a list named "fruits" containing three different fruits and display its items**

using for loop.

In [1]:
fruits = ["Apple", "Cherry", "Banana"]

# Display the items using a for loop
for fruit in fruits:
  print(fruit)

Apple
Cherry
Banana

# **Create a tuple named "numbers" with five random numbers and display its item**

using for loop.

In [2]:
numbers = (12,8,32,5,8)

#display number using a for loop
for number in numbers:
  print(number)

12
8
32
5
8

# **Create a set named "colors" with three different colors and display its items**

using
for loop.

In [3]:
colors = {"Blue", "Red", "Brown"}

#display the colors using for loop
for color in colors:
  print(color)

Red
Brown
Blue

# **Create a dictionary named "student" with the following key-value pairs:**

"name" as the key and the student's name as the value.

o "age" as the key and the student's age as the value.

o "grade" as the key and the student's grade as the value.

o Iterate over the dictionary using the for loop and display its keys

Iterate over the dictionary using the for loop and display its values

In [8]:
student = {
    "name" : "Ali",
    "Age" : 30,
    "grade" :"A"
}

#display  its key
print("Keys")
for key in student.keys():
  print(key)


#disply in value
print("values")
for value in student.values():
  print(value)

Keys
name
Age
grade
values
Ali
30
A

# **Create a multi-line string named "poem" with a short poem of your choice.**

In [ ]:
poem = """
The sun sets behind the hills,
Painting the sky with fiery thrills.
Stars emerge in the velvet night,
A celestial dance, pure and bright.

Whispers of the gentle breeze,
Through rustling leaves in the trees.
Nature's lullaby, a soothing song,
As the peaceful night grows long.

Moonlight bathes the world in silver,
A tranquil scene, calming the quiver.
Dreams take flight on wings of night,
In the quiet hours, pure delight.
"""

#print the poem
print(poem)

# Write an if statement to check if the length of the "fruits" list is greater than 3.

If it
is, print "You have many fruits!".

In [15]:
fruits = ["Banana", "cherry" , "Apple", "Cherry"]

if len(fruits)>3:
  print("You have many fruits!")

You have many fruits!

# Create a program that takes a student's numerical grade as input and prints a
# corresponding letter grade. Use if-else statements to classify the grade into
# categories such as "A," "B," "C," "D," or "F."

In [45]:
numerical_grade = int(input("Enter the Numerical grade"))

#Classify the grade noto corresponding letter geade categories
if numerical_grade >= 90:
  letter_grade ="A"
elif 80<= numerical_grade <=89:
  letter_grade = "B"
elif 70 <= numerical_grade <=79:
  letter_grade ="C"
elif 60 <= numerical_grade <= 69:
  letter_grade = "D"

else:
  letter_grade ="F"

print("The corresponding letter grade is:", letter_grade)

Enter the Numerical grade99
The corresponding letter grade is: A

# Create a program that takes a temperature in Celsius as input from user and
# classifies it into categories like "Freezing," "Cold," "Moderate," "Warm," or "Hot."
# Use if-else statements to define the temperature ranges for each category.

In [52]:
def  classify_temperature(temperature):
  if temperature < -10:
    return "Freezing"
  elif -10 <= temperature < 0:
    return "Cold"
  elif 0 <= temperature <20:
    return "Mooderate"
  elif 20<= temperature < 30:
    return "Warm"

  else:
    return "hot"

#Get temperature input from the user
try:
  temperature_celsius = int(input("Enter the temperature in Celsius"))
  category = classify_temperature(temperature_celsius)
  print(f"The temperature {temperature_celsius}Â°C is classified as {category}.")
except ValueError:
  print("Please enter a valid numeric temperature")

Enter the temperature in Celsiusd
Please enter a valid numeric temperature